.menuEntry {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.navItem {
  text-decoration: none;
}

.navMenu {
}

.menu {
}

.menuButton2 {
  size: 50px;
}

.companyAvatar {
  width: 300;
  height: 300;
}

.logout {
  width: 100%;
  position: absolute;
  bottom: 15px;
}
